<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="js/jquery-3.5.1.js"></script>
  </head>
  <body>
    <div class="container" style="margin-bottom: 100px;">
      <div class="col-12">
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 100px;"
        >
          <div class="col-6">
            <h1><b>Важен вклад каждого!</b></h1>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 100px;"
        >
          <div
            class="col-8 align-items-center"
            style="font-size: 24px; line-height: 1.5; text-align: center;"
          >
            Мы призываем включится всех и создавать каждому вокруг себя очаги
            помощи. В этой ситуации находятся все без исключения, поэтому важна
            инициатива каждого.
          </div>
        </div>
      </div>
    </div>
    <div
      class="container"
      style="margin-right: auto; margin-left: auto; margin-bottom: 100px;"
    >
      <div class="row">
        <div
          class="col-3 border t_col_3"
          style="max-width: 20%; text-align: center;"
        >
          <div class="content" style="margin-bottom: 50px;">
            <h4><b>Мне нужна помощь</b></h4>
          </div>
          <div>
            1. Нажмите на кнопку "Нужна помощь"
            <br />
            <br />
            2. Заполните анкету Подробно распишите в чем вы нуждаетесь, какая
            помощь, лекарства, аппараты вам необходимы
          </div>
          <button
            type="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            help
          </button>
        </div>
        <div
          class="col-3 border t_col_3"
          style="max-width: 20%; text-align: center;"
        >
          <div class="content" style="margin-bottom: 50px;">
            <h4><b>Мне нужна помощь</b></h4>
          </div>
          <div>
            1. Нажмите на кнопку "Нужна помощь"
            <br />
            <br />
            2. Заполните анкету Подробно распишите в чем вы нуждаетесь, какая
            помощь, лекарства, аппараты вам необходимы
          </div>
          <button
            type="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            help
          </button>
        </div>
        <div
          class="col-3 border t_col_3"
          style="max-width: 20%; text-align: center;"
        >
          <div class="content" style="margin-bottom: 50px;">
            <h4><b>Мне нужна помощь</b></h4>
          </div>
          <div>
            1. Нажмите на кнопку "Нужна помощь"
            <br />
            <br />
            2. Заполните анкету Подробно распишите в чем вы нуждаетесь, какая
            помощь, лекарства, аппараты вам необходимы
          </div>
          <button
            type="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            help
          </button>
        </div>
        <div
          class="col-3 border t_col_3"
          style="max-width: 20%; text-align: center;"
        >
          <div class="content">
            <h4><b>Мне нужна помощь</b></h4>
          </div>
          <div>
            1. Нажмите на кнопку "Нужна помощь"
            <br />
            <br />
            2. Заполните анкету Подробно распишите в чем вы нуждаетесь, какая
            помощь, лекарства, аппараты вам необходимы
          </div>
          <button
            type="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            help
          </button>
        </div>
      </div>
    </div>
    <footer
      style="
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #171717;
      "
    >
      <div class="container" style="margin-right: auto; margin-left: auto;">
        <div class="row">
          <div class="col-12 max-width: 20%; text-align: center;">
            <ul
              style="
                text-align: center;
                text-align: center;
                list-style-type: none;
                padding-left: 10px !important;
                padding-top: 16px;
                padding-right: 10px;
                padding-bottom: 0;
              "
            >
              <li style="display: inline;">
                <b
                  ><a style="color: thistle; padding: 20px;" href=""
                    >Мне нужна помощь</a
                  ></b
                >
              </li>
              <li style="display: inline;">
                <b
                  ><a style="color: thistle; padding: 20px;" href=""
                    >Мне нужна помощь</a
                  ></b
                >
              </li>
              <li style="display: inline;">
                <b
                  ><a style="color: thistle; padding: 20px;" href=""
                    >Мне нужна помощь</a
                  ></b
                >
              </li>
              <li style="display: inline;">
                <b
                  ><a style="color: thistle; padding: 20px;" href=""
                    >Мне нужна помощь</a
                  ></b
                >
              </li>
            </ul>
          </div>
          <div
            class="col-12"
            style="
              display: inline;
              float: left;
              margin-left: 20px;
              margin-right: 20px;
              width: 100%;
              text-align: center;
            "
          >
            <div style="color: #ffffff;">copyright</div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/app.js"></script>
  </body>
</html>
